* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #141331;
  --window-color: #ebf9f6;
  --bot-color: #ff9270;
  --user-color: #64ccfc;
  --button-color: #faac1c;
}

main {
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.chat-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

.chat-window {
  height: 80vh;
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--window-color);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.input-container {
  display: flex;
  width: 90vw;
  max-width: 500px;
  height: 100px;
  margin: 0 auto;
  align-items: stretch;
  gap: 10px;
}

#message-input {
  resize: none;
  flex-grow: 1;
  border-radius: 0 0 0 15px;
  background-color: var(--window-color);
}

.message {
  padding: 10px;
  margin: 10px;
  background-color: var(--user-color);
  width: max-content;
  max-width: 50%;
  border-radius: 10px;
}

.user-message {
  align-self: end;
}

.bot-message {
  background-color: var(--bot-color);
}

#send-btn {
  all: unset;
  background-color: var(--button-color);
  padding: 10px 25px;
  border-radius: 0 0 15px 0;
}